@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body 
{
  background: #3c4652;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 10px;
    /* text-rendering: optimizeLegibility; */
    
}

.sidebar
{
  position: fixed;
  left: -250px;
  top: 0;
  width: 250px;
  height: 100%;
  background: #35353a;
  transition: all .5s ease;
}

header
{
  font-size: 22px;
  color: #fff;
  text-align: center;
  line-height: 70px;
  background: #292828;
  user-select: none;
}

.sidebar ul li{
  height: 69px;
}

.sidebar ul a
{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 90px;
  color: #fff;
  padding-left: 40px;
  border-top: 1px solid rgba(255,255,255,.1);
  transition: .4s;
}

#check
{
  display: none;
}

label #btn, label #cancel
{
  position: absolute;
  cursor: pointer;
  border-radius: 3px;
}

label #btn
{
  left: 40px;
  top: 25px;
  font-size: 25px;
  color: #fff;
  padding: 6px 10px;
  transition: all .5s;
}



label #cancel
{
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #fff;
  padding: 4px 9px;
  transition: all .5s;
 
}

#check:checked ~ .sidebar
{
  left: 0;
}

#check:checked ~ label #btn
{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}

#check:checked ~ label #cancel
{
  left: 195px;
  opacity: 1;
}

#check:checked ~ .container-tabla-btn-add
{
  margin-left: 260px;
}

ul li:hover a
{
  padding-left: 50px; 
}

.container-tabla-btn-add
{
  margin-top: 30px;
  margin-left: 100px;
  width: 1200px;
  height: 450px;
  transition: all .5s;
}

.container-buscador{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buscador-input-btn{
  display: flex;
}

#inp-buscador{
  width: 400px;
  height: 50px;
  padding-left: 10px;
}

#btn-buscar-container{
  position: relative;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin-left: 4px;
}

#btn-buscar-container:first-child{
  position: absolute;
  height: 50px;
  width: 50px;
  top: 50%;
  left: 50%;
}


.btn-add
{
  font-size: 16px;
  font-weight: 300;
  background: #2277d3;
  color: #fff;
  padding: 12px;
  border-radius: 3px;
  position: relative;
  left: 0;
}

.btn-add:hover
{
  background: #4682cc;
}

.icon-add
{
  padding-right: 5px;
}

/*** Table Styles **/

.table-fill 
{
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  border: 2px #494b4b;
  height: auto;
  max-width: 1200px;
  position: relative;
  top: 35px;
  padding:5px;
  width: auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
  margin-bottom: 20px;
}


th 
{
  color:#fff;;
  background:#28282b;
  border-bottom:1px solid #121213;
  font-size:16px;
  font-weight: 400;
  padding:20px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child 
{
  border-top-left-radius:3px;
}
 
th:last-child 
{
  border-top-right-radius:3px;
  border-right:none;
}
  
tr 
{
  border-top: 1px solid #0c0c0c;
  border-bottom: 1px solid #0c0c0c;
  color:#0f0f0f;
  font-size:15px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
a
{
  text-decoration: none;
}

 .button-trash
 {
  background: #f02f21;
  color: #fff;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  margin: auto;
  position: relative;
  left: 35px;
 }

 .button-modify
 {
  background: #f3a107;
  color: #fff;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  margin: auto;
  position: relative;
  left: 50px;
 }

 .button-modify:hover
 {
    background: #f3c21f;
 }

 .button-trash:hover
 {
    background: #f75336;
 }


tr:first-child {
    border-top:none;
}

tr:last-child {
    border-bottom:none;
}
 

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#424141;
  color: #fff;
  padding:10px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  width: 300px;
  font-size:15px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
}

.td-nombre, .td-url, .td-tipo, .td-nivel, .td-fecha, .td-options
{
  text-align: left;
}

td:last-child {
  border-right: 0px;
}

th.th-1 {
  text-align: left;
}

.th-3,.th-4,.th-5
{
  text-align: center;
}

.th-2
{
  text-align: left;
}

th.th-6 {
  text-align: center;
}


table .td-nivel:nth-child(4)
{
  width: auto;
}
table .td-tipo:nth-child(3)
{
  width: auto;
}

table .td-fecha:nth-child(5)
{
  width: auto;
}

.modal-container, .modal-container-modify
{
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 120vh;
  top: -60px;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal, .modal-modify
{
  width: 35%;
  height: 72%;
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  justify-content:space-evenly;
  position: relative;
  transition: transform 0.8s;
  transform: translateY(0%);
  /* overflow: hidden; */
}

.header-container
{
  display: block;
  background: #3C3B3F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #605C3C, #3C3B3F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 50px;
  color: #f8b145cc;
  text-align: center;
  justify-content: center;
}

h4
{
 position: relative;
 top: 15px;
}

form
{
  width: 100%;
  height: 215px;
  color: #fff;
}

.form-container form label
{
  display: block;
  font-size: 18px;
  position: relative;
  top: 10px;
  left: 50px;
  font-weight: 300;     
}

.form-container form .input-txt
{
  display: block;
  padding: 13px;
  margin-top: 15px;
  width: 360px;
  margin-left: 50px;
  outline: none;
  font-size: 16px;
  
}

.form-container form input:focus
{
  border-color:#12ecda;
}

::placeholder
{
  font-size: 16px;
}

.container-btn
{
  width: 215px;
  height: 50px;
  position: relative;
  top: 30px;
  left: 240px;  
  
}

.btn-save
{
  width: 100px;
  height: 40px;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  font-size: 15px;
  background: #4b56f8af;
  color: #fff;
  
}

.btn-cancel , .btn-cancel-delete, .btn-cancel-modify
{
  width: 100px;
  height: 40px;
  margin-top: 5px;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  font-size: 15px;
  background: #e0921d;
  color: #fff;
}

.btn-save:hover
{
  background: #595d8d;
}

.btn-cancel:hover
{
  background: #e48519;
}

.modal-close, .modal-modify-close
{
  transform: translateY(-200%);
}

.modal-container-delete
{
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}


.modal-delete
{
  width: 28%;
  height: 25%;
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  justify-content:space-evenly;
  position: relative;
  transition: transform 0.7s;
  transform: translateY(0%);
  /* overflow: hidden; */
}


.container-btn-delete
{
  width: 215px;
  height: 50px;
  position: relative;
  top: 30px;
  left: 140px;
}

.question
{
  margin-left: 15px;
  margin-top: 5px;
}

.btn-delete
{
  width: 100px;
  height: 40px;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  font-size: 13px;
  color: #fff;
  background: #ec190a;
}

.btn-delete:hover
{
  background: #db403b;
}

.btn-cancel-delete:hover
{
  background: #e69941;
}

.modal-delete-close
{
  transform: translateY(-300%);
}

.btn-modify
{
  width: 100px;
  height: 40px;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  font-size: 13px;
}

.btn-modify:hover
{
  background: #ee8f22;
}

.btn-cancel-modify:hover
{
  background: #d6211b;
}