body
{
    /* background-color: #eceaff; */
    background: #2C3E50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.card-body{
    width: 500px;
    background-color: #1f6492;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}



table
{
    border: 2px solid #000;
    width: 45%;
    border-color: black;
    border-collapse: collapse;
    padding: 20px;
    font-size: 24px;
    margin: -5em 25em;
    font: caption;
}


.propiedades
{
    border: 2px solid #000;
    width: 50%;
    
    text-align: center;
}
thead
{
    background-color: rgb(30, 90, 180);
    padding: 5px;
}
td
{
    border: 2px solid #000;
    width: 20%;
    text-align: center;
    padding: 5px;
}

.button_1
{
    width: 23%;
    padding: 15px;
    border: 2px solid;
    background-color: rgb(0, 110, 255);
    border:none;
}
.button_3
{
    width: 30%;
    padding: 10px;
    background-color: rgb(238, 157, 34);
    border: none;
}
.button_4
{
    width: 30%;
    padding: 10px;
    background-color: rgb(231, 38, 38);
    border: none;
}
.button_2
{
    padding: 15px;
    border: 2px solid;
    background-color: rgb(0, 110, 255);
    border-radius: 2px;
    width: 25%;
    border: none;
}

a
{
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.movimientos
{
    margin: 5.3em 25em;
}

h1
{
    font:caption;
    font-size: 25px;
    background-color: #08395a;
    padding: 12px;
    color: white;
    margin-bottom: 0;
}

.tamaño
{
    width: 40%;
    height: 15px;
}

.tamaño_2
{
    width: 32%;
}

.row{
    margin-bottom: 10px;
}

.col{
    justify-content: center;
    text-align: center;
    color: white;
}