
body{
    /* background-color: #eceaff; */
    background: #2C3E50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container-ext{
    margin-top: 30px;
    margin-left: 100px;
    width: 1200px;
    height: 450px;
    transition: all .5s;
    animation: float 5s infinite;
    position: relative;
}


.html-text{
    width: 90%;
    border: 2px solid black;
    border-radius: 8px;
    margin-left: 50px;
}

#inp-data{
    opacity: 0;
    visibility: hidden;
}

#inp-fuente{
    opacity: 0;
    visibility: hidden;
}

#inp-page{
    opacity: 0;
    visibility: hidden;
}