a
{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

button{
    border-radius: 20px;
}

h1
{
    font:caption;
    font-size: 25px;
    background-color: #1f6492;
    padding: 12px;
    color: white;
}

.form-horizontal
{
    text-align: center;
}

.navegacion{
    width: 600px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.data-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.btn-panel{
    background-color: darkorange;
    width: 300px;
}

.btn-inicio{
    background-color: rgb(36, 97, 187);
}

.btn-agregar{
    background-color: blue;
}

table{
    width: 600px;
    height: 100px;
}

th{
    border: 2px solid black;
}

td{
    align-items: center;
    text-align: center;
}

.btn-modificar{
    background-color: rgb(255, 197, 5);
}

.btn-eliminar{
    background-color: red;
}