@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", helvetica, arial, sans-serif;
}

header
{
    height: 80px;
    background: #0575E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

html, body
{
    height: 100%;

}
body
{
    font-size: 16px;
    font-weight: 400;
    /* background-color: #eceaff; */
    background-color: #2C3E50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.user-pic
{
    color: #fff;
    font-size: 20px;
    position: relative;
    cursor: pointer;
    font-weight: 300;
    margin-right: 12px;
    display: flex;
}
.sub-menu-wrap
{
    position: absolute;
    top: 10%;
    right: 5%;
    width: 200px;
    max-height: 0px; 
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu
{
    max-height: 200px;
}

.sub-menu
{
    background: #f0e6e6;
    padding: 20px;
    margin: 10px;
}

.user-info
{
    display: flex;
    align-items: center;
}

.user-info h4
{
    font-weight: 500;
    color: #35353a;
}

.sub-menu hr
{
    border: 0;
    height: 1px;
    width: 100%;
    background-color: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link
{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 12px 0;    
}

.sub-menu-link p
{
    font-size: 15px;
    width: 100%;    
}

span
{
    color: #35353a;
}

.container-search{
    justify-content: center;
    align-items: center;
}

.container-search .input
{
    border: 0;
    outline: none;
    color: #3a3635;
    border: 2px solid #c9c5c5;
}

.search_wrap
{
    width: 300px;
}

.search_wrap .search_box
{
    position: relative;
    width: 600px;
    height: 60px;
}

.search_wrap .search_box .input
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 18px;
}

.search_wrap .search_box .input:focus
{
    border-color: #368dc0;
}

.search_wrap .search_box .btn
{
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
    background: #1a3f8f;
    z-index: 1;
    cursor: pointer;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.search_wrap .search_box .btn:hover
{
    background: #36528f;
}

.search_wrap .search_box .btn .icon-search
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
}

/* css de la pagina*/

.container
{
    background-color: #2C3E50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    height: 100%;
    margin: auto;
    display: block;
    margin-bottom: 10px;
}



.arrow-back
{
    font-size: 25px;
    font-weight: 300;
    position: relative;
    top: 40px;
    left: 50px;
}

.icon-arrow
{
    color: #3958df;
    font-size: 30px;
}


.container-content-description
{
    width: 750px;
    height: 350px;
    margin: auto;
    position: relative;
    
}

.content-visualizer
{
    color: black;
    width: 600px;
    height: 270px;
    margin: auto;
    position: relative;
    border: 4px solid #3a44ce;
    border-radius: 3px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.title-cont{
    position: absolute;
    top: 80%;
    justify-content: center;
    align-items: center;
    z-index:1;
    padding:10px;
    margin:0;
    text-align: center;
    font-size: 25px;
    width: 600px;
}


.description
{
    color: #fff;
    width: 500px;
    height: 55px;
    position: relative;
    left: 75px;
    top: 5px;
    font-weight: 300;
}

label
{
    display: block;
    padding: 5px;
}

.container-btn
{
    width: 200px;
    height: 200px;
    position: relative;
    left: 1000px;
    top: -280px;
}
a
{
    text-decoration: none;
    display: block;
}

.btn-home
{
    padding: 13px;
    background-color: #3131e7;
    color: #fff;
    border-radius: 3px;
    width: 125px;
    margin: auto;
    text-align: center;
    
}

.btn-download
{
    padding: 15px;
    background-color: #cc3737;
    border-radius: 3px;
    color: #fff;
    width: 125px;
    margin: auto;
    position: relative;
    top: 10px;
}



.btn-download:hover
{
    background: #ca6363;
}

.btn-home:hover
{
    background: #4545f0;
}

.icon-file , .icon-download
{
    padding-right: 5px;
}

.container-notes
{
    width: 500px;
    height: 80px;
    margin: auto;
    position: relative;
    top: -210px;
    left: -50px;
    border: 5px solid #3a44ce;
    border-radius: 3px;
}

form
{
    width: 100%;
    height: 100%;
}

textarea
{
    width: 100%;
    height: 100%;
    font-size: 15px;
    background: #2c2a2a;
    color: #fff;

}

textarea:focus
{
    outline: none;
}

i
{
    color: #fff;
}

.container-related-content
{
    /* background-color: #ca6363; */
    width: 60%;
    margin: auto;
    margin-top: -190px;
    height: 170px;
    display: flex;
    flex-direction: row;
    
}

.container-miniature
{
    margin: auto;
    margin-top: 0;
    width: 180px;
    height: 140px;
    background-color: #2c2a2a;
    color: #fff;
}

.miniature
{
    width: 100%;
    height: 100%;
    border: 3px solid #3131e7;
}

p
{
   color: #fff;
    width: 100%;
    height: auto;
    white-space: initial;
    margin-left: 30px;
}