{% extends 'panel_agregar_base.html' %}
<head>
    {% block title %}
    <title>Agregar Pais</title>
    {% endblock %}
</head>
<body>
    {% block content %}
        <div class="mx-auto justify-content-center text-center">
            <h1 >Agregar Fuente de Pais:</h1> 
        </div>
        
        <div class = "card-body card-block mx-auto">
            <form  method="post" class="form-horizontal">
                {% csrf_token %}
                <div class="row form-group">
                    <div class="col col-md-4">{{ form.nombre.label }}</div>
                    <div class="col-12 col-md-8">{{ form.nombre }}</div>
                </div>
                
                <div class="row form-group">
                    <div class="col col-md-4">{{ form.idioma.label }}</div>
                    <div class="col-12 col-md-8">{{ form.idioma }}</div>
                </div>
               
                <div class="text-center">
                    <button type="submit" class="btn btn-success"> Guardar </button>
                </div>
                
            </form>
        </div>
    {% endblock %}
</body>