<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <div class="btn-panel">
            <button class="boton_panel">
                <a href="http://127.0.0.1:8000/api/admin/" class="enlace_panel">Panel de administración</a>
            </button> 
        </div>        
                
        <nav class="filtros">
            <ul class="filtros-menu">
                <li>
                    <div class="filtro-items">
                        <a href="">Categorias</a>           
                    </div>          
                </li>
                            
                <li>
                    <div class="filtro-items">
                        <a href="">Fuentes de informacion</a>
                    </div>
                </li>

                <li>
                    <div class="filtro-items">
                        <a href="">Paises</a>
                    </div>
                </li>
                    
                <li>
                    <div class="filtro-items">
                        <a href="">Fechas</a>
                    </div>
                </li>
            </ul>
        </nav>

        <div >
            <button class="btn-filtrar">
                <a href="#">Filtrar</a>
            </button>
        </div>
    </header>
    <section class="main-container">
        <h1>Documentos Recientes</h1>
        <article class="items">
            <div class="img-antartida">
                <img src="" alt="img-antartida">
                <a href="#"></a>
            </div>
            <div class="description-item">
                <p class="title-item">Titulo 1</p>
                <p class="description">Breve descripcion 1</p>
                <p class="date-item">Fecha 1</p>
            </div>
        </article>

        <article class="items">
            <div class="img-antartida">
                <img src="" alt="img-antartida">
                <a href="#"></a>
            </div>
            <div class="description-item">
                <p class="title-item">Titulo 2</p>
                <p class="description">Breve descripcion 2</p>
                <p class="date-item">Fecha 2</p>
            </div>
        </article>

        <article class="items">
            <div class="img-antartida">
                <img src="" alt="img-antartida">
                <a href="#"></a>
            </div>
            <div class="description-item">
                <p class="title-item">Titulo 3</p>
                <p class="description">Breve descripcion 3</p>
                <p class="date-item">Fecha 3</p>
            </div>
        </article>

        <article class="items">
            <div class="img-antartida">
                <img src="" alt="img-antartida">
                <a href="#"></a>
            </div>
            <div class="description-item">
                <p class="title-item">Titulo 4</p>
                <p class="description">Breve descripcion 4</p>
                <p class="date-item">Fecha 4</p>
            </div>
        </article>

        <article class="items">
            <div class="img-antartida">
                <img src="" alt="img-antartida">
                <a href="#"></a>
            </div>
            <div class="description-item">
                <p class="title-item">Titulo 5</p>
                <p class="description">Breve descripcion 5</p>
                <p class="date-item">Fecha 5</p>
            </div>
        </article>
    </section>
</body>
</html>