<!DOCTYPE html>
<html>
    <head>
       <title>Listado de Fuentes de informacion</title>
       <meta charset="UTF-8">
       {% load static %}
        <link rel="stylesheet" href="{% static 'fuentes.css' %}">
    </head>
    <body>
        <h1>Listado de Fuentes de informacion</h1>
        
        <div>
            <div class="movimientos">
                <button class="button_1"><a  href="http://127.0.0.1:8000/api/agregar-fuente-info/" >Agregar</a></button>
                <button class="button_2"><a href="http://127.0.0.1:8000/api/home/">Volver a Inicio</a></button> 
                <button class="button_3"><a href="http://127.0.0.1:8000/api/admin/"> Volver al Panel de Administracion </a>  </button>
            </div>
            <table >
                <thead class="propiedades">
                    <tr class="tamaño">
                        <th> ID-Fuente-Info </th>
                        <th >Funte de informacion</th>
                        <th>URL</th>
                        <th>Tipo</th>
                        <th> Fecha de Creacion </th>
                        <th class="tamaño_2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for fuente in Fuentes %}
                        <tr class="tamaño">
                            <td> {{fuente.id}} </td>
                            <td> {{fuente.nombre}} </td>
                            <td> {{fuente.URL}} </td>
                            <td> {{fuente.tipo}} </td>
                            <td> {{fuente.fecha}} </td>
                            <td > 
                             <button class="button_3"><a  class="tamaño" href="http://127.0.0.1:8000/api/modificar-fuente-info/{{fuente.id}}">Modificar</a></button>
                             <button class="button_4"><a  class="tamaño" href="http://127.0.0.1:8000/api/eliminar-fuente-info/{{fuente.id}}">Eliminar</a></button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                
            </table>
        </div>
    </body>

</html>