<!DOCTYPE html>
<html>
    <head>
       <title>Listado de Fuentes de información</title>
       <meta charset="UTF-8">
       {% load static %}
        <link rel="stylesheet" href="{% static 'Listados.css' %}">
    </head>
    <body>
        <h1 id="title-list">Panel de Administración > Listado de Fuentes</h1>
        <div class="main-container">
            {% include 'sidebar.html' %}

            <div class="data-container">
                <div class="navegacion">
                    <h2>Fuentes de Información</h2>
                    <button class="btn-agregar"><a  href="http://127.0.0.1:8000/api/agregar-fuente-info/" >Agregar</a></button>
                </div>
                <table >
                    <thead class="propiedades">
                        <tr>
                            <th> ID </th>
                            <th> Funte de Información </th>
                            <th> URL </th>
                            <th> Tipo </th>
                            <th> Fecha de Creación </th>
                            <th> Opciones </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for fuente in Fuentes %}
                            <tr class="tamaño">
                                <td> {{fuente.id}} </td>
                                <td> {{fuente.nombre}} </td>
                                <td> {{fuente.URL}} </td>
                                <td> {{fuente.tipo}} </td>
                                <td> {{fuente.fecha}} </td>
                                <td class="options"> 
                                 <button class="btn-modificar"><a  class="tamaño" href="http://127.0.0.1:8000/api/modificar-fuente-info/{{fuente.id}}">Modificar</a></button>
                                 <button class="btn-eliminar"><a  class="tamaño" href="http://127.0.0.1:8000/api/eliminar-fuente-info/{{fuente.id}}">Eliminar</a></button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    
                </table>
            </div>
        </div>
        
        
    </body>

</html>