<!DOCTYPE html>
<html>
    <head>
       <title>Listado de usuarios</title>
       {% load static %}
        <link rel="stylesheet" href="{% static 'Listados.css' %}">
    </head>
    <body>
        <h1 id="title-list">Panel de Administración > Listado de Usuarios</h1>
        
        <div class="main-container">
            {% include 'sidebar.html' %}
            <div class="data-container">
                <div class="navegacion">
                    <h2>Usuarios</h2>
                    <button class="btn-agregar"><a  href="http://127.0.0.1:8000/api/agregar-usuario/" >Agregar</a></button>
                </div>
                <table >
                    <thead class="propiedades">
                        <tr>
                            <th> ID </th>
                            <th> Usuario </th>
                            <th> Opciones </th>
                        </tr>
                    </thead>
                    <tr>
                       
                       <tbody>
                            {% for usuario in Usuarios %}
                                <tr>
                                    <td>{{ usuario.id }}</td>
                                    <td>{{ usuario.email }}</td>
                                    <td class="options"> 
                                        
                                            <button class="btn-modificar"><a href="http://127.0.0.1:8000/api/modificar-usuario/{{usuario.id}}">Modificar</a></button>
                                            <button class="btn-eliminar"><a href="http://127.0.0.1:8000/api/eliminar-usuario/{{usuario.id}}">Eliminar</a></button>
                                        
                                        
                                    </td>
                                </tr>
                            {% endfor %}
    
                       </tbody>
                       
                    </tr>
                </table>
            </div>
        </div>


       
    </body>

</html>