<!DOCTYPE html>
<html>
    <head>
       <title>Listado de usuarios</title>
       {% load static %}
        <link rel="stylesheet" href="{% static 'categorias.css' %}">
    </head>
    <body>
        <h1>Listado de usuarios</h1>
        
        <div>
            <div class="movimientos">
                <button class="button_1"><a  href="http://127.0.0.1:8000/api/agregar-usuario/" >Agregar</a></button>
                <button class="button_2"><a href="http://127.0.0.1:8000/api/home/">Volver a Inicio</a></button> 
                <button class="button_3"><a href="http://127.0.0.1:8000/api/admin/"> Volver al Panel de Administracion </a>  </button>
            </div>
            <table >
                <thead class="propiedades">
                    <tr>
                        <th> ID Usuario</th>
                        <th >Usuario</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tr>
                   
                   <tbody>
                        {% for usuario in Usuarios %}
                            <tr>
                                <td>{{ usuario.id }}</td>
                                <td>{{ usuario.nombre }}</td>
                                <td> 
                                    
                                        <button class="button_3"><a class="btn btn-primary" href="http://127.0.0.1:8000/api/modificar-usuario/{{usuario.id}}">Modificar</a></button>
                                        <button class="button_4"><a class="btn btn-danger" href="http://127.0.0.1:8000/api/eliminar-usuario/{{usuario.id}}">Eliminar</a></button>
                                    
                                    
                                </td>
                            </tr>
                        {% endfor %}

                   </tbody>
                   
                </tr>
            </table>
        </div>
    </body>

</html>