<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado Categorias</title>
    {% load static %}
        <link rel="stylesheet" href="{% static 'Listado Categorias.css' %}">
</head>
<body>
    <h1>Listado de Categorias</h1>
        
        <div class="data-container">
            <div class="navegacion">
                <button class="btn-panel"><a href="http://127.0.0.1:8000/api/admin/"> Volver al Panel de Administracion </a>  </button>
                <button class="btn-inicio"><a href="http://127.0.0.1:8000/api/home/">Volver a Inicio</a></button> 
                <button class="btn-agregar"><a  href="http://127.0.0.1:8000/api/agregar-categoria/" >Agregar</a></button>
            </div>
            <table >
                <thead class="propiedades">
                    <tr>
                        <th> ID-Categoria </th>
                        <th> fecha de Creacion </th>
                        <th > Categoria </th>
                        <th> Opciones </th>
                    </tr>
                </thead>
                
                <tbody>
                    
                        {% for categoria in Categorias %}
                            <tr>
                                <td> {{ categoria.id }} </td>
                                <td> {{ categoria.fecha }} </td>
                                <td> {{ categoria.concepto}} </td>
                                <td> 
                                    <button class="btn-modificar"><a class="btn btn-primary" href="http://127.0.0.1:8000/api/modificar-categoria/{{categoria.id}}">Modificar</a></button>
                                    <button class="btn-eliminar"><a class="btn btn-danger" href="http://127.0.0.1:8000/api/eliminar-categoria/{{categoria.id}}">Eliminar</a></button>
                                </td>

                            </tr>
                        {% endfor %}
                        
                    
                </tbody>
                
            </table>
        </div>
</body>
</html>