<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado Categorias</title>
    {% load static %}
        <link rel="stylesheet" href="{% static 'Listados.css' %}">
        

    
</head>
<body>
    <h1 id="title-list">Panel de Administración > Listado de Categorias</h1>
    
    <div class="main-container">
        {% include 'sidebar.html' %}

        <div class="data-container">
            <div class="navegacion">
                <h2>Categorias</h2>
                <button class="btn-agregar"><a  href="http://127.0.0.1:8000/api/agregar-categoria/" >Agregar</a></button>
            </div>
            
            <table >
                <thead class="propiedades">
                    <tr>
                        <th> ID </th>
                        <th> Categoria </th>
                        <th> Fecha de Creación </th>
                        <th> Opciones </th>
                    </tr>
                </thead>
                
                <tbody>
                    
                        {% for categoria in Categorias %}
                            <tr>
                                <td> {{ categoria.id }} </td>
                                <td> {{ categoria.concepto}} </td>
                                <td> {{ categoria.fecha }} </td>
                                <td class="options"> 
                                    <button class="btn-modificar"><a href="http://127.0.0.1:8000/api/modificar-categoria/{{categoria.id}}">Modificar</a></button>
                                    <button class="btn-eliminar"><a href="http://127.0.0.1:8000/api/eliminar-categoria/{{categoria.id}}">Eliminar</a></button>
                                </td>

                            </tr>
                        {% endfor %}
                        
                    
                </tbody>
                
            </table>
        </div>

        
    </div>
    

</body>
</html>