<!DOCTYPE html>
<html>
    <head>
       <title>Listado de paises</title>
       {% load static %}
        <link rel="stylesheet" href="{% static 'Listados.css' %}">
    </head>
    <body>
        <h1 id="title-list">Panel de Administración > Listado de Paises</h1>

        <div class="main-container">
            {% include 'sidebar.html' %}
            <div class="data-container">
                <div class="navegacion">
                    <h2>Paises</h2>
                    <button class="btn-agregar"><a href="http://127.0.0.1:8000/api/agregar-pais/"> Agregar </a>  </button>
                </div>
                <table >
                    <thead class="propiedades">
                        <tr>
                            <th> ID </th>
                            <th> Pais </th>
                            <th> Idioma </th>
                            <th> Opciones </th>
                        </tr>
                    </thead>
                    
                       
                       <tbody>
                           {% for pais in Paises %}
                            <tr>
                                <td> {{ pais.id}} </td>
                                <td> {{ pais.nombre }} </td>
                                <td> {{ pais.idioma }} </td>
                                <td class="options"> 
                                    <button class="btn-modificar"><a href="http://127.0.0.1:8000/api/modificar-pais/{{pais.id}}">Modificar</a></button>
                                    <button class="btn-eliminar"><a href="http://127.0.0.1:8000/api/eliminar-pais/{{pais.id}}">Eliminar</a></button>
                                </td>
                            </tr>
                            {% endfor %}
                       </tbody>
                       
                    
                </table>
            </div>
        </div>
        
        
    </body>

</html>