<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <meta charset="UTF-8">

        {% load static %}
            <link rel="stylesheet" href="{% static 'login.css' %}">  
    </head>
    <body>
        {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        <form class="formulario">
            {% csrf_token %}
            
            <div class="login-container">
                <h1>Login</h1>
                <div class="input_contenedor">
                    <input type="text" placeholder="Usuario" name="user-email">
                </div>
                
                <div class="input_contenedor">
                    <input type="password" placeholder="Contraseña" name="user-pass">
                </div>

                <input type="submit" value="Iniciar sesion" class="button">
            </div>
        
        </form>
    </body>
</html>