<!DOCTYPE html>
<html>
    <head>
        <title>Panel de administración</title>
        <meta charset="UTF-8">
        <div class="head">
            <h1>Panel de administración</h1>
            <h2>Bienvenid@ Jose, <a href="http://127.0.0.1:8000/api/home/"> Ir al Sitio</a> / <a href="#"> Cambiar Contraseña</a> / <a href="#"> Recolectar Info </a></h2>
        </div>
        
        {% load static %} 
          <link rel="stylesheet" href="{% static 'panel.css' %}">
    </head>
    <body>
    <div class="table-model-app"> 
        <table>
            <caption>Aplicación</caption>
            
            <tr>
                <th>
                <a href="http://127.0.0.1:8000/api/categorias/">Categorias</a>
                    
                    <td>
                        <a href="http://127.0.0.1:8000/api/categorias/">
                            <div class="botton-mod">
                                Modificar
                            </div>
                        </a>
                    </td>

                    <td>
                        <a href="http://127.0.0.1:8000/api/categorias/">
                            <div class="botton-add">
                                Agregar
                            </div>
                        </a>
                    </td>

                </th>
                
            </tr>
            <tr>
                <th>
                    <a href="http://127.0.0.1:8000/api/fuentes-informacion/">Fuentes de información</a>

                    <td>
                        <a href="http://127.0.0.1:8000/api/fuentes-informacion/">
                            <div class="botton-mod">
                                Modificar
                            </div>
                        </a>
                    </td>

                    <td>
                        <a href="http://127.0.0.1:8000/api/fuentes-informacion/">
                            <div class="botton-add">
                                Agregar
                            </div>
                        </a>
                    </td>

                </th>
            </tr>
            <tr>
                <th>
                    <a href="http://127.0.0.1:8000/api/paises/">Paises</a>
                       
                    <td>
                        <a href="http://127.0.0.1:8000/api/paises/">
                            <div class="botton-mod">
                                Modificar
                            </div>
                        </a>
                    </td>

                    <td>
                        <a href="http://127.0.0.1:8000/api/paises/">
                            <div class="botton-add">
                                Agregar
                            </div>
                        </a>
                    </td>

                </th>
            </tr>
        </table>
    </div>
    <div class="table-model-user">
        <table>
            <caption> Autenticación y autorización </caption> 
            <tr>
                <th>
                    <a href="http://127.0.0.1:8000/api/usuarios/">Usuarios</a>
                    
                    <td>
                        <a href="http://127.0.0.1:8000/api/categorias/">
                            <div class="botton-mod">
                                Modificar
                            </div>
                        </a>
                    </td>

                    <td>
                        <a href="http://127.0.0.1:8000/api/categorias/">
                            <div class="botton-add">
                                Agregar
                            </div>
                        </a>
                    </td>

                </th>
            </tr>
        </table>
    </div>
    </body>
</html>