<!DOCTYPE html>
<html>
    <head>
        <title>Panel de administracion</title>
        <meta charset="UTF-8">
        <h1>Panel de administracion</h1>
        {% load static %} 
          <link rel="stylesheet" href="{% static 'panel.css' %}">
    </head>
    <body>
    <div class="table-model-app"> 
        <table>
            <caption>Aplicación</caption>
            
            <tr>
                <th>
                <a href="http://127.0.0.1:8000/api/categorias/">Categorias</a>
                    <td>
                        <a href="http://127.0.0.1:8000/api/categorias/">
                        <div class="botton-add">
                            Agregar
                        </div>
                    </a>
                    </td>
                    
                    <td>
                        <a href="http://127.0.0.1:8000/api/categorias/">
                            <div class="botton-mod">
                                Modificar
                            </div>
                        </a>
                    </td>
                        
                
                </th>
                
            </tr>
            <tr>
                <th>
                    <a href="http://127.0.0.1:8000/api/fuentes-informacion/">Fuentes de informacion</a>
                    <td>
                        <a href="http://127.0.0.1:8000/api/fuentes-informacion/">
                        <div class="botton-add">
                            Agregar
                        </div>
                    </a>
                    </td>
                    
                    <td>
                        <a href="http://127.0.0.1:8000/api/fuentes-informacion/">
                            <div class="botton-mod">
                                Modificar
                            </div>
                        </a>
                    </td>
                </th>
            </tr>
            <tr>
                <th>
                    <a href="http://127.0.0.1:8000/api/paises/">Paises</a>
                    <td>
                        <a href="http://127.0.0.1:8000/api/paises/">
                        <div class="botton-add">
                            Agregar
                        </div>
                    </a>
                    </td>
                    
                    <td>
                        <a href="http://127.0.0.1:8000/api/paises/">
                            <div class="botton-mod">
                                Modificar
                            </div>
                        </a>
                    </td>
                </th>
            </tr>
        </table>
    </div>
    <div class="table-model-user">
        <table>
            <caption> Autenticacion y autorizacion </caption> 
            <tr>
                <th>
                    <a href="http://127.0.0.1:8000/api/usuarios/">Usuarios</a>
                    <td>
                        <a href="http://127.0.0.1:8000/api/categorias/">
                        <div class="botton-add">
                            Agregar
                        </div>
                    </a>
                    </td>
                    
                    <td>
                        <a href="http://127.0.0.1:8000/api/categorias/">
                            <div class="botton-mod">
                                Modificar
                            </div>
                        </a>
                    </td>
                </th>
            </tr>
        </table>
    </div>
    </body>
</html>