{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Panel de Administracion</title>
    <script src="https://kit.fontawesome.com/b2985c5115.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="{% static 'media/CANDADO.PNG' %}">
    <link rel="stylesheet" href="{% static 'style/StylePanelAdmin.css'%}">
</head>

<body>
    <div class="container-header">
        
        <div class="container-title">
            Panel de Administracion
        </div> 
        <div class="container-links">
            <a href="{% url 'extraer-html' %}" class="recolection-link">Recolectar informacion</a>
            <a href="{% url 'home' %}" class="update-link">Ver Página</a>
            <span class="user-pic" onclick="toggleMenu()">{{user.username}}<i class="fa-solid fa-chevron-down icon-dwn"></i></span>
        </div>
        <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
                <div class="user-info">
                    <h4>Mi cuenta</h4>
                </div>
                <hr>
                <a class="sub-menu-link" href="{% url 'logout' %}" >
                    <i class="fa-sharp fa-solid fa-right-from-bracket icon-logout"></i>
                    <p>Cerrar Sesion</p>
                    <span>></span>
                </a>
            </div>
        </div>
    </div>
    
        <div class="container-table">
            <table class="tabla-1">
                <tr>
                    <th class="thead">Aplicacion</th>
                </tr>
                <tr class="filas">
                    <td><a href="{% url 'adjuntos' %}">Adjuntos</a></tr>
                </tr>
                <tr class="filas">
                    <td><a href="{% url 'categorias' %}">Categorias</a></tr>
                </tr>
                <tr class="filas">
                    <td><a href="{% url 'panel-contenidos-originales' %}">Contenidos Originales</a></tr>
                </tr>
                <tr class="filas">
                    <td><a href="{% url 'panel-contenidos-procesados' %}">Contenidos Procesados</a></tr>
                </tr>
                <tr class="filas">
                    <td><a href="{% url 'fuentes-informacion' %}">Fuentes de informacion</a> </td>
                </tr>
                <tr class="filas">
                    <td><a href="{% url 'paises' %}">Paises</a></td>
                </tr>
            </table>
    

        <table class="tabla-1">
            <tr>
                <th class="thead">Autorizacion y Autenticacion</th>
            </tr>
            <tr class="filas">
                <td><a href="{% url 'usuarios' %}">Usuarios</a></td>     
            </tr>
        </table>
    </div>
    <script src="{% static 'scripts/JS-Braian/main.js' %}"></script>
</body>
</html>