<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/sidebar.css' %}">
</head>

<input type="checkbox" id="check">
    <label for="check">
        <i class="fa-solid fa-bars" id="btn"></i>
        <i class="fa-solid fa-xmark" id="cancel"></i>
    </label>
    <div class="sidebar">      
        <header>Menu</header>
        <ul>
            <li><a href="{% url 'admin' %}">Panel de administracion</a></li>
            <li><a href="{% url 'adjuntos' %}">Adjuntos</a></li>
            <li><a href="{% url 'categorias' %}">Categorias</a></li>
            <li><a href="{% url 'panel-contenidos-originales' %}">Contenidos Originales</a></li>
            <li><a href="{% url 'panel-contenidos-procesados' %}">Contenidos Procesados</a></li>
            <li><a href="{% url 'fuentes-informacion' %}">Fuentes de informacion</a></li>
            <li><a href="{% url 'paises' %}">Paises</a></li>
            <li><a href="{% url 'usuarios' %}">Usuarios</a></li>
        </ul>
    </div>