<!DOCTYPE html>
<html>
    <head>
         <title>Visualizacion de contenido</title>
         <meta charset="UTF-8">
         {% load static %}
         <link rel="stylesheet" href="{% static 'visualizacion.css' %}">
     </head>

     <body>
         <div>
         <div id="contenido">
            
            <div id="botones">
                <button class="boton_home"><a href="">Volver a inicio</a></button>
                
                <button class="boton_descarga"><a href="">Descargar</a></button>
         </div>
         <p>Descripcion del documento</p>
         
        </div>
     </body>
</html>