{% extends 'listados_base.html' %}

{% block title %}
<title>Eliminar Adjunto</title>
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <p><strong> ¿Desea eliminar el adjunto {{adjunto.nombre}}({{adjunto.URL}}) de la Aplicación? </strong></p>
        <a href="{% url 'adjuntos' %}">
            <button type="button" class="btn btn-success">Cancelar</button>
        </a>
        <button type="submit" class="btn btn-danger">Confirmar</button>
    </form>
{% endblock %}