<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b2985c5115.js" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/CSS-Braian/StyleInicio.css' %}">
    <title>Pagina de inicio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
    
    
    <header>
        {% if request.user.is_staff %}
        <a href="{% url 'admin' %}">panel de administracion</a>
        {% endif %}
        <span class="user-pic" onclick="toggleMenu()">Username</span>
        <p class="tittle">Nombre de la app</p>
        
        
    </header>
    

    <div class="sub-menu-wrap" id="subMenu">
        <div class="sub-menu">
            <div class="user-info">
                <h4>Mi cuenta</h4>
            </div>
            <hr>
            <a class="sub-menu-link" href="PerfilUsuario.html" >
                <i class="fa-solid fa-user icon-profile"></i>
                <p>Mi perfil</p>
                <span>></span>
            </a>
            <a class="sub-menu-link" href="{% url 'logout' %}" >
                <i class="fa-sharp fa-solid fa-right-from-bracket icon-logout"></i>
                <p>Cerrar Sesion</p>
                <span>></span>
            </a>
        </div>
    </div>
    <div class="container">
        <div class="search_wrap search_wrap_1" style="justify-content: center; align-items: center;">
            <div class="search_box">
                <input type="text" class="input" placeholder="Buscar...">
                <div class="btn btn_common">
                    <i class="fa-solid fa-magnifying-glass icon-search"></i>
                </div>
            </div>
        </div>
    </div>
    <form action="">
        <div class="filters">
            <div class="container-select-btn-1" style="z-index: 1;">
                <div class="select-btn-1">
                    <span class="btn-text">Categorias: Todas</span>
                    <span class="arrow-dwn">
                        <i class="fa-solid fa-chevron-down icon-dwn"></i>
                    </span>
                </div>
                <ul class="list-items-1">
                    {% for categ in Categorias %}
                    <li class="item-1">
                        <span class="checkbox">
                            <i class="fa-solid fa-check check-icon"></i>
                        </span>
                        <span class="item-text">{{categ}}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="container-select-btn-2" style="z-index: 1;">
                <div class="select-btn-2">
                    <span class="btn-text-2">Fuentes: Todas</span>
                    <span class="arrow-dwn-2">
                        <i class="fa-solid fa-chevron-down icon-dwn"></i>
                    </span>
                </div>
                <ul class="list-items-2">
                    {% for font in Fuentes %}
                    <li class="item-2">
                        <span class="checkbox-2">
                            <i class="fa-solid fa-check check-icon-2"></i>
                        </span>
                        <span class="item-text">{{font.nombre}}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="container-select-btn-3" style="z-index: 1;">
                <div class="select-btn-3">
                    <span class="btn-text-3">Paises: Todos</span>
                    <span class="arrow-dwn-3">
                        <i class="fa-solid fa-chevron-down icon-dwn"></i>
                    </span>
                </div>
                <ul class="list-items-3">
                    {% for pais in Paises %}
                    <li class="item-3">
                        <span class="checkbox-3">
                            <i class="fa-solid fa-check check-icon-3"></i>
                        </span>
                        <span class="item-text">{{pais}}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="container-select-btn-4" style="z-index: 1;">
                <div class="select-btn-4">
                    <span class="btn-text-4">Fechas: Todas</span>
                    <span class="arrow-dwn-4">
                        <i class="fa-solid fa-chevron-down icon-dwn"></i>
                    </span>
                </div>
                <ul class="list-items-4">
                    {% for fech in Fechas %}
                    <li class="item-4">
                        <span class="checkbox-4">
                            <i class="fa-solid fa-check check-icon-4"></i>
                        </span>
                        <span class="item-text">{{fech}}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            
            <div >
                <button type="submit" class="filter-btn">
                    <span class="filter-icon"><i class="fa-solid fa-filter"></i></span>
                    Filtrar
                </button>
            </div>
            
        </div>
    </form>

    <div class="row row-cols-1 row-cols-md-3 g-4" id="contents">
        {% for content in Contenidos %}
        <!--<div class="container-content">-->
            <div class="col">
                <div class="card" style="width: 25rem; justify-content: center; align-items: center; z-index: 0;">
                    <a href="{{content.idAdjunto}}"><img class="card-img-top img-fluid" src="{{content.idAdjunto}}" alt="Card image cap"></a>
                    <div class="card-body">
                        <a href="{% url 'contenido' %}"><h5 class="card-title">{{content.titulo}}</h5></a>
                        <p class="card-text">contenido creado: {{content.fecha_Creacion}}</p>
                        <p class="card-text"><small class="text-muted">Extraído de: {{content.idContenido_Original.idFuente}}</small></p>
                    </div>
                </div>
            </div>
            
            <!--<div class="container-document"><img src="{{content.idAdjunto}}" alt="img-cont"></div>
            <div class="container-information">
                <a href="{% url 'contenido' %}"><h3 class="title-document">{{content.titulo}}</h3></a>
                <span class="description">contenido creado: {{content.fecha_Creacion}}</span>
                <p>Extraído de: {{content.idContenido_Original.idFuente}}</p>
            </div>-->
        <!--</div>-->
        {% endfor %}
    </div>
    

    {% load static %}
    <script src="{% static 'scripts/JS-Braian/main.js' %}"></script>
    <script src="{% static 'scripts/JS-Braian/Categories.js' %}"></script>
    <script src="{% static 'scripts/JS-Braian/Fuentes.js' %}"></script>
    <script src="{% static 'scripts/JS-Braian/Paises.js' %}"></script>
    <script src="{% static 'scripts/JS-Braian/Fechas.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    
</body>

</html>