{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b2985c5115.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'style/CSS-Braian/StyleFuentes.css'%}">
    <title>Listado de Fuentes de informacion</title>
</head>
<body>
    <input type="checkbox" id="check">
    <label for="check">
        <i class="fa-solid fa-bars" id="btn"></i>
        <i class="fa-solid fa-xmark" id="cancel"></i>
    </label>
    <div class="sidebar">      
        <header>Menu</header>
        <ul>
            <li><a href="http://127.0.0.1:8000/api/admin/">Panel de administracion</a></li>
            <li><a href="http://127.0.0.1:8000/api/categorias/">Categorias</a></li>
            <li><a href="http://127.0.0.1:8000/api/fuentes-informacion/">Fuentes de informacion</a></li>
            <li><a href="http://127.0.0.1:8000/api/paises/">Paises</a></li>
            <li><a href="http://127.0.0.1:8000/api/usuarios/">Usuarios</a></li>
        </ul>
    </div>

    <div class="container-tabla-btn-add">
        <a href="" class="btn-add"><i class="fa-solid fa-plus icon-add"></i>Agregar</a>
        <table class="table-fill">
            <thead>
                <tr>
                    <th class="th-1">Nombre</th>
                    <th class="th-2">URL</th>
                    <th class="th-3">Tipo</th>
                    <th class="th-4">Nivel</th>
                    <th class="th-5">Fecha</th>
                    <th class="th-6">Opciones</th>
                </tr>
            </thead>
            <tbody class="table-hover">
                {% for fuente in Fuentes %}
                <tr>
                    <td class="td-nombre">{{fuente.nombre}}</td>
                    <td class="td-url">{{fuente.URL}}</td>
                    <td class="td-tipo">{{fuente.tipo}}</td>
                    <td class="td-nivel">{{fuente.nivel}}</td>
                    <td class="td-fecha">{{fuente.fecha}}</td>
                    <td class="td-options">
                        <a class="button-trash" href="">
                            <i class="fa-solid fa-trash-can "></i>
                            Eliminar
                        </a> 
                        <a class="button-modify" href="">
                            <i class="fa-solid fa-pencil "></i>
                            Modificar
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="modal-container">
        <div class="modal modal-close">
            <div class="header-container"><h4>Formulario Agregar Fuente de informacion</h4></div>
            <div class="form-container">
                <form action="">
                    {% csrf_token %}
                    <label for="">Nombre de Fuente de informacion</label>
                    <input type="text" class="input-txt" placeholder="Escriba el nombre de categoria">
                    <label for="">URL</label>
                    <input type="text" class="input-txt" placeholder="Escriba el nombre de categoria">
                    <label for="">Tipo</label>
                    <input type="text" class="input-txt" placeholder="Escriba el nombre de categoria">
                    <label for="">Nivel</label>
                    <input type="text" class="input-txt" placeholder="Escriba el nombre de categoria">
                    <label for="">Fecha</label>
                    <input type="date" class="input-txt" placeholder="Escriba el nombre de categoria">
                    <div class="container-btn">
                        <input type="submit" value="Guardar" class="btn-save">
                        <input type="button" value="Cancelar" class="btn-cancel">
                    </div>    
                </form>
            </div>
        </div>
    </div>
    <div class="modal-container-delete">
        <div class="modal-delete modal-delete-close">
            <div class="header-container"><h4>Eliminar Categoria</h4></div>
            <div class="form-container">
                <form action="">
                    {% csrf_token %}
                    <p class="question">¿Seguro que quiere eliminar la categoria?</p>
                    <div class="container-btn-delete">
                        <input type="submit" value="Eliminar" class="btn-delete">
                        <input type="button" value="Cancelar" class="btn-cancel-delete">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal-container-modify">
        <div class="modal-modify modal-modify-close">
            <div class="header-container"><h4>Modificar Fuente de informacion</h4></div>
            <div class="form-container">
                <form action="">
                    {% csrf_token %}
                    <label for="">Nuevo nombre de Fuente de informacion</label>
                    <input type="text" class="input-txt" placeholder="Escriba el nuevo nombre de categoria">
                    <label for="">URL</label>
                    <input type="text" class="input-txt" placeholder="Escriba el nombre de categoria">
                    <label for="">Tipo</label>
                    <input type="text" class="input-txt" placeholder="Escriba el nombre de categoria">
                    <label for="">Nivel</label>
                    <input type="text" class="input-txt" placeholder="Escriba el nombre de categoria">
                    <label for="">Fecha</label>
                    <input type="date" class="input-txt" placeholder="Escriba el nombre de categoria">
                    <div class="container-btn">
                        <input type="submit" value="Modificar" class="btn-modify">
                        <input type="button" value="Cancelar" class="btn-cancel-modify">
                    </div> 
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'scripts/JS-Braian/modal.js' %}"></script>
    <script src="{% static 'scripts/JS-Braian/modalDelete.js' %}"></script>
    <script src="{% static 'scripts/JS-Braian/modalModify.js' %}"></script>
</body>
</html>           