{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{% static 'style/CSS-Braian/StyleFuentes.css'%}">
    <link rel="stylesheet" href="{% static 'style/sidebar.css' %}">
    <title>Listado de Paises</title>
</head>
<body>
    {% include 'sidebar.html' %}
    

    <div class="container-tabla-btn-add">
        <div class="container-buscador">
            {% include 'buscadorListados.html' %}
            <a href="" class="btn-add"><i class="fa-solid fa-plus icon-add"></i>Agregar</a>
        </div>
        <table class="table-fill">
            <thead>
                <tr>
                    <th class="th-1">ID</th>
                    <th class="th-2">Nombre</th>
                    <th class="th-3">Idioma</th>
                    <th class="th-4">Fecha</th>
                    <th class="th-5">Opciones</th>
                </tr>
            </thead>
            <tbody class="table-hover">
                {% for pais in Paises %}
                <tr>
                    <td class="td-nivel">{{ pais.id }}</td>
                    <td class="td-nombre">{{ pais.nombre }}</td>
                    <td class="td-url">{{ pais.idioma }}</td>
                    <td class="td-fecha">{{ pais.fecha_creacion }}</td>
                    <td class="td-options">
                        <a class="button-trash" href="">
                            <i class="fa-solid fa-trash-can "></i>
                            Eliminar
                        </a> 
                        <a class="button-modify" href="">
                            <i class="fa-solid fa-pencil "></i>
                            Modificar
                        </a>
                    </td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </div> 
    <script src="https://kit.fontawesome.com/b2985c5115.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>