{% extends 'listados_base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
    <title>Listado de Fuentes de informacion</title>
    {% endblock %}
</head>
<body>
    
    {% block content %}
        
        <div class="container-buscador">
            <div class="tag-buscador">
                <h2>Fuentes de Información</h2>
                {% include 'buscadorListados.html' %}
            </div>
            
            <a href="{% url 'agregar-fuente-info' %}" class="btn-add"><i class="fa-solid fa-plus icon-add"></i>Agregar</a>
        </div>
        
        <table class="table-fill">
            <thead>
                <tr>
                    <th class="th-1">Nombre</th>
                    <th class="th-2">URL</th>
                    <th class="th-3">Tipo</th>
                    <th class="th-4">Nivel</th>
                    <th class="th-5">Fecha</th>
                    <th class="th-6">Opciones</th>
                </tr>
            </thead>
            <tbody class="table-hover">
                {% for fuente in Fuentes %}
                <tr>
                    <td class="td-nombre">{{fuente.nombre}}</td>
                    <td class="td-url">{{fuente.URL}}</td>
                    <td class="td-tipo">{{fuente.tipo}}</td>
                    <td class="td-nivel">{{fuente.nivel}}</td>
                    <td class="td-fecha">{{fuente.fecha}}</td>
                    <td class="td-options">
                        <a class="button-trash" href="">
                            <i class="fa-solid fa-trash-can "></i>
                            Eliminar
                        </a> 
                        <a class="button-modify" href="">
                            <i class="fa-solid fa-pencil "></i>
                            Modificar
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}
</body>
</html>           