{% extends 'listados_base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
    <title>Listado de Contenidos Procesados</title>
    {% endblock %}
</head>
<body>
    
    {% block content %}
        <div class="container-buscador">
            {% include 'buscadorListados.html' %}
            <a href="" class="btn-add"><i class="fa-solid fa-plus icon-add"></i>Agregar</a>
        </div>
        <table class="table-fill">
            <thead>
                <tr>
                    <th class="th-1">Titulo</th>
                    <th class="th-2">Contenido</th>
                    <th class="th-3">Adjunto</th>
                    <th class="th-4">Categoria</th>
                    <th class="th-5">Fecha</th>
                    <th class="th-6">Opciones</th>
                </tr>
            </thead>
            <tbody class="table-hover">
                {% for contenidoP in Contenidos %}
                <tr>
                    <td class="td-nombre">{{contenidoP.titulo}}</td>
                    <td class="td-url">{{contenidoP.contenido}}</td>
                    <td class="td-tipo">{{contenidoP.idAdjunto}}</td>
                    <td class="td-nivel">{{contenidoP.idCategoria}}</td>
                    <td class="td-fecha">{{contenidoP.fecha_Creacion}}</td>
                    <td class="td-options">
                        <a class="button-trash" href="">
                            <i class="fa-solid fa-trash-can "></i>
                            Eliminar
                        </a> 
                        <a class="button-modify" href="">
                            <i class="fa-solid fa-pencil "></i>
                            Modificar
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}
</body>
</html>    