{% extends 'listados_base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
    <title>Listado de Usuarios</title>
    {% endblock %}
</head>
<body>
    
    {% block content %}
        <div class="container-buscador">
            {% include 'buscadorListados.html' %}
            <a href="" class="btn-add"><i class="fa-solid fa-plus icon-add"></i>Agregar</a>
        </div>
        <table class="table-fill">
            <thead>
                <tr>
                    <th class="th-1">ID</th>
                    <th class="th-2">Nombre</th>
                    <th class="th-3">Correo</th>
                    <th class="th-4">Opciones</th>
                </tr>
            </thead>
            <tbody class="table-hover">
                {% for usuario in Usuarios %}
                <tr>
                    <td class="td-nombre">1</td>
                    <td class="td-url">User</td>
                    <td class="td-tipo">userfalse@gmail.com</td>
                    <td class="td-options">
                        <a class="button-trash" href="">
                            <i class="fa-solid fa-trash-can "></i>
                            Eliminar
                        </a> 
                        <a class="button-modify" href="">
                            <i class="fa-solid fa-pencil "></i>
                            Modificar
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}
</body>
</html>