{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b2985c5115.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'style/CSS-Braian/StyleContenido.css'%}">
    <title>Visualizar Contenido</title>
</head>
<body>
    <div class="container">
        <a href="{% url 'home' %}" class="arrow-back"><i class="fa-sharp fa-solid fa-arrow-left-long icon-arrow"></i></a>
        <div class="container-content-description">
            <div class="content-visualizer">Aqui va el pdf</div>
            <div class="description">
                <label for="">Titulo del documento</label>
                <label for="">Descripcion del documento</label>
            </div>
        </div>
        <div class="container-btn">
            <a href="" class="btn-home"><i class="fa-regular fa-file icon-file"></i>Adjuntos</a>
            <a href="" class="btn-download"><i class="fa-sharp fa-solid fa-download icon-download"></i>Descargar</a>
        </div>
        <div class="container-notes">
            <form action="">
                <textarea name="" id="" cols="55" rows="5" placeholder="Escriba aqui"></textarea>
            </form>
            
        </div>
        <div class="container-related-content">
            <div class="container-miniature">
                <div class="miniature"></div>
                <p>Titulo y fecha</p>    
            </div>
            <div class="container-miniature">
                <div class="miniature"></div>
                <p>Titulo y fecha</p>
            </div>
            <div class="container-miniature">
                <div class="miniature"></div>
                <p>Titulo y fecha</p>
            </div>
            <div class="container-miniature">
                <div class="miniature"></div>
                <p>Titulo y fecha</p>
            </div>    
            
        </div>
    </div>
</body>
</html>